/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 // Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Random screen size
$screen-random-max: 840px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Random large size

$screen-random-large-max: 1120px;


$base-color: #888888;
$primary-color: #293136;
$secondary-color: #3A444A;
$tertiary-color: #445058;
$contrast-color: #FFFFFF;

/*
	{
					"color": "#888888",
					"name": "Base",
					"slug": "base"
				},
				{
					"color": "#FFFFFF",
					"name": "Contrast",
					"slug": "contrast"
				},
				{
					"color": "#293136",
					"name": "Primary",
					"slug": "primary"
				},
				{
					"color": "#3A444A",
					"name": "Secondary",
					"slug": "secondary"
				},
				{
					"color": "#445058",
					"name": "Tertiary",
					"slug": "tertiary"
				}
*/

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

@mixin screen-random-max {
	@media (max-width: #{$screen-random-max}) {
		@content;
	}
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

// Random large devices
@mixin random-large-max {
	@media (max-width: #{$screen-random-large-max}) {
		@content;
	}
}


flex.second-row-container {
    width: 300px;
    background: $secondary-color;
	padding: 2%
}

.back2top-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $primary-color;
	color: black;
	border-color: gray;
	border-width: 3px;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	max-width: 1616px;
	z-index: 500;
	position: relative;


	.fancy-buttons-top-row {
		background: gray;
		color: white;
		padding-top: 2% !important;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		border-top: 3px;
		border-color: $contrast-color;
		border-style: solid;
		padding: 1%;
		gap: 1%;

		.elements-container {
			color: white;
			display: flex;
			justify-content: flex-start;
			gap: 2%;

			@include screen-random-max {
					justify-content: center;
					align-items: center;
					flex-direction: column;
				}

			.elements {
				height: auto;
				background: $primary-color;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				border-width: 3px;
				border-color: lightgray;
				border-style: solid;
				padding: 5%;
				width: 34%;

				@include screen-random-max {
					width: 100%;
				}

				input{
					color: $primary-color;
					background: white !important;
					max-width: 150px !important;
				}

				.components-base-control__field{
					display: flex;
					justify-content: space-between;
					align-items: baseline;
				}
				
			}

			.button-prototype-container{
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: auto;
				margin-left: auto;

				.layer {
					position: absolute;

			
				}
			}
		}

		flex.outer-layer-container {
			display: flex;
			align-items: center;
			justify-content: center;
    		background: $secondary-color;
    		padding: 1%;
			gap: 25px;
			margin-bottom: 1%;
			height: 445px;
			width: 483px;
			
			#layerOne {
				position: absolute;
				background-size: contain !important;
			}
			#layerTwo {
				position: absolute;
				background-size: contain !important;
			}
			#layerThree {
				position: absolute;
				background-size: contain !important;
			}
		}

		.border-flex .first-border {
			margin-right: 11px !important;
			margin-bottom: 23%;

			.components-flex {
				background: blue;
    			display: flex;
    			flex-direction: column;
    			margin-bottom: 0%;
			}
		}

		
		
		.top-rows-container {
			flex-direction: row !important;
    		display: flex;
    		justify-content: space-evenly;
			align-items: normal;
    		width: 100%;
			margin-top: 15px;
			margin-bottom: -8px;

			@include random-large-max {
				flex-direction: column !important;
				justify-content: center;
				align-items: center;
			}

			flex{
					
				@include screen-random-max {
					&:nth-of-type(1) {
						margin-top: 5%;
					}

					div#inspector-box-control-0 {
						display: flex;
						flex-direction: row;
						justify-content: center;
						width: 300px;
						padding: 0px;
					}

					div#inspector-box-control-1 {
						display: flex;
						flex-direction: row;
						justify-content: center;
						width: 300px;
						margin-top: 56px;
						padding: 0px;
					}

					div#inspector-box-control-2 {
						display: flex;
						flex-direction: row;
						justify-content: center;
						width: 300px;
						margin-top: 56px;
						padding: 0px;
					}
				}

				@include random-large-max() {

					div#inspector-box-control-0 {
						display: flex;
						flex-direction: row;
						justify-content: center;
						margin-top: 75px;
					}

					div#inspector-box-control-1 {
						display: flex;
						flex-direction: row;
						justify-content: center;
						margin-top: 75px;
					}

					div#inspector-box-control-2 {
						display: flex;
						flex-direction: row;
						justify-content: center;
						margin-top: 75px;
					}
				}

				.components-flex{
					@include random-large-max{
						flex-direction: column;
					}

				}
			}
		}
	}

	.second-row {
		background: lightgray;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;

		.elements-container {
			color: white;
			display: flex;
			justify-content: flex-start;

			@include screen-random-max {
					justify-content: center;
					align-items: center;
					flex-direction: column;
				}

			.elements {
				height: auto;
				background: $primary-color;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				border-width: 3px;
				border-color: lightgray;
				border-style: solid;
				padding: 5%;
				width: 34%;

				@include screen-random-max {
					width: 100%;
				}

				input{
					color: $primary-color;
					background: white !important;
					max-width: 150px !important;
				}

				.components-base-control__field{
					display: flex;
					justify-content: space-between;
					align-items: baseline;
				}
				
			}

			.button-prototype-container{
				display: flex;
				justify-content: center;
				align-items: center;

				.layer {
					position: absolute;
				}
			}
		}
	}

		.color-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		border-color: $contrast-color;
		border-style: solid;
		border-width: 3px;
		margin-left: auto;
		margin-right: auto;

			flex.colorModule {
				padding: 16px;
				border-color: lightgray;
				border-style: solid;
				border-right: 3px;
				background: gray;
				border-top: 1.5px;
				border-bottom: 1.5px;

				@include random-large-max {
					padding: 0px;
				}
			}

			flex.inner-layer-container {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				max-width: 54%;
				color: white;
				background: $primary-color;
				border-style: solid;
				border-color: gray;
				border-width: 3px;
				padding: 15px;
			}

		

		}
}

input#inspector-text-control-2 {
    background: gray;
    color: black;
}

input#inspector-text-control-3 {
    background: gray;
    color: black;
}

.react-colorful {
    box-shadow: -1px 3px 14px 8px rgba(0, 0, 0, 0.2);
}

.button-prototype-container {
	display: flex;
	justify-content: center;
	align-items: center;
    background: white !important;
    height: 350px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}


.colorPicker {
    background: gray;
}

.components-range-control__root {
    width: 173px !important;
}

.components-flex-item.css-qcm38l.e19lxcc00 {
    display: flex;
}


.chakra-tabs__tab-panels.css-8atqhb {
    height: 80%;
}

.chakra-tabs__tab-panels.css-8atqhb {
    max-width: 78%;
    margin-left: auto;
    margin-right: auto;
    width: 510px;
    height: 310px;
}

.chakra-tabs__tablist.css-k008qs button {
    color: white;
    background: $tertiary-color;
}

.chakra-tabs__tablist.css-k008qs button:hover {
    color: $tertiary-color;
    background: white;
	cursor: grab;
}

.chakra-tabs__tablist.css-k008qs {
    width: 510px;
    justify-content: center;
}

.css-8atqhb {
    width: auto;
}

.css-8atqhb {
    width: auto;
}

div#tabs-\:ra\:--tabpanel-1 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.chakra-tabs__tab-panels.css-8atqhb {
    max-width: 78%;
    margin-left: auto;
    margin-right: auto;
}

button#tabs-\:ra\:--tab-0 {
    background: $tertiary-color;
    color: $contrast-color;
}

button#tabs-\:ra\:--tab-0:hover {
    background: $contrast-color;
    color: $tertiary-color;
	cursor:grab;
}

button#tabs-\:ra\:--tab-1 {
	background: $tertiary-color;
    color: $contrast-color;
}

button#tabs-\:ra\:--tab-1:hover {
    background: $contrast-color;
    color: $tertiary-color;
	cursor:grab;
}

div#tabs-\:ra\:--tabpanel-0 {
    padding: 5%;
	background: $secondary-color;
}

div#tabs-\:ra\:--tabpanel-1 {
    padding: 5%;
	background: $secondary-color;
}

#page-one {
    display: flex;
    justify-content: flex-end;
}

#page-two {
    display: flex;
    justify-content: flex-end;
	margin-top: 86px;
}

input#inspector-text-control-2 {
    background: $contrast-color;
    color: black;
}

input#inspector-text-control-3 {
    background: $contrast-color;
    color: black;
}


.components-base-control.selector-boxes.css-qy3gpb.ej5x27r4 p {
    color: inherit;
}

.css-qnhd10 {
    padding: calc(16px) calc(12px) calc(20px) calc(9px) !important;
}

@media screen and (max-width: 782px) {
	.chakra-tabs__tablist.css-k008qs {
  		margin-top: -48px;
		max-width: 483px;
	}
}


flex.rl-panel {
    display: flex;
    justify-content: flex-end;
}

i.material-icons {
    margin-top: 50%;
    margin-bottom: 50%;
}

.panel-numbers {
    display: flex;
    justify-content: flex-end;
}

input {
    caret-color: transparent;
}

input::selection {
    color: white;
    background: #3A444A
}

